:root {
  --dkblue: midnightblue;
  --wtsmoke: whitesmoke;
  --dkpurple: rgb(33, 2, 42);
  --ltpurple: rgb(190, 172, 195);
  --mdgrey: rgb(165, 165, 165);
  --ltgrey: rgb(207, 207, 207);
}

.App {
  text-align: center;
  background: rgb(33, 2, 42);
  background: linear-gradient(
    143deg,
    rgba(33, 2, 42, 1) 23%,
    rgba(190, 172, 195, 1) 70%,
    rgba(207, 207, 207, 1) 100%
  );
}

.App-navbar {
  color: var(--wtsmoke);
  font-weight: 600; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
